@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* Reset */*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.background__gradient {
  position: fixed;
  z-index: -2;
  width: 100vw;
  height: 100vh;
  background: rgb(255,220,254);
  background: linear-gradient(145deg, rgba(255,220,254,1) 0%, rgba(182,255,245,1) 100%);
}

.background__image {
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-image: url('/images/organic.svg');
  background-repeat: repeat;
  background-size: 500px 500px;
}

/* Text */
h1 {
  display: inline-block;
  font-size: 2rem;
  font-weight: 700;
  user-select: none;
  color: #000000;
}

h2 {
  display: inline-block;
  font-size: 1.25rem;
  user-select: none;
  font-weight: 700;
  color: #ffffff;
}

/* Grid */
.grid__container--row {
  display: flex;
  flex-direction: row;
}

.grid__container--column {
  display: flex;
  flex-direction: column;
}

.grid__container--center {
  display: flex;
  justify-content: center;
}

.grid__container--cross-center {
  display: flex;
  align-items: center;
}

.grid__item--newline {
  flex-basis:100%;
  height:0;
}

.grid__item--full {
  flex: 1;
}

.grid__item--half {
  flex: 0.5;
}

/* Button */
.button {
  font-size: 1rem;
  padding: 0.5em;
  border-radius: 6px;
  border: 0.5px solid rgba(255, 86, 133, 0.5);
  background-color: #ff5685;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.25s ease;
}

.button:hover {
  background-color: rgb(255, 46, 106);
}

/* Misc */
.drop-shadow {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
}

.border-radius {
  border-radius: 0.5rem;
}

/* Content */
.content__root {
  max-width: 1200px;
  align-items: flex-start;
}

.content__item {
  margin: 1rem;
  background-color: #ffffff;
  overflow: auto;
}

.content__item:not(:first-child) {
  margin-left: 0rem;
}

/* Nav */
.navbar {
  background-color: #ffffff;
  font-size: 1rem;
  padding: 0.5em;
  align-items: center;
}

.navbar__title {
  font-size: 2em;
}

.navbar__icon {
  margin-right: 1em;
  margin-left: 1em;
  height: 2em;
  width: auto;
}

/* Chart */
.chart {
  padding: 1rem;
}

.chart__controls {
  margin-top: 1rem;
  background-color: #06c1b4;
  padding: 1rem;
}

.chart__control {
  margin-bottom: 1rem;
}

.chart__control:last-child {
  margin-bottom: 0;
}

.chart__control__input {
  font-size: 1rem;
  padding: 0.5em;
  border-radius: 6px;
  border: 0.5px solid rgba(6, 193, 180, 0.5);
  transition: border 0.25s ease;
}

.chart__control__input:hover, .chart__control__input:focus {
  border: 0.5px solid rgba(6, 193, 180, 1);
  outline: none;
}

.chart__control__checkbox {
  font-size: 2rem;
}

/* Movie List */
.moviel__item {
  flex-wrap: wrap;
  padding: 0.5rem;
}

.moviel__item:first-child {
  background-color: #06c1b4;
}

.moviel__item:nth-child(2n) {
  background-color: rgba(0, 0, 0, 0.05);
}

.movie__item__img {
  align-self: flex-start;
  width: 50px;
  height: auto;
}

.moviel__item__moreinfo {
  background-color: #06c1b4;
  color: #ffffff;
  font-size: 1.25rem;
  padding: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* Error */
.error {
  background-color: #ffda8a;
  color: #c78800;
  text-align: center;
  padding: 1rem;
}

.error__title {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.error__message {
  font-size: 1.25rem;
}
