<div class="grid__item--full grid__container--column chart">
  {{ember-chart
    type="bar"
    data=this.chartData
    options=this.chartOptions
  }}
  <ChartControls
    @filterAscending={{this.filterAscending}}
    @filteringEnabled={{this.filteringEnabled}}
    @filterMinimumScore={{this.filterMinimumScore}}
  />
</div>
