<div class="content-item drop-shadow border-radius chart-container">
  <div class="chart">
    {{ember-chart
      type="bar"
      data=this.chartData
      options=this.chartOptions
    }}
  </div>
  <ChartControls
    @filterAscending={{this.filterAscending}}
    @filteringEnabled={{this.filteringEnabled}}
    @filterMinimumScore={{this.filterMinimumScore}}
  />
</div>
