<div class="chart-controls">
  <div class="chart-control-item">
    <label>
      <h2>Ascending Order:</h2>
      <Input
        class="checkbox"
        @id="filter-ascending"
        @type="checkbox"
        @checked={{@filterAscending}}
      />
    </label>
  </div>
  <div class="chart-control-item">
    <label>
      <h2>Enabled Advanced Filtering:</h2>
      <Input
        class="checkbox"
        @id="filter-advanced"
        @type="checkbox"
        @checked={{@filteringEnabled}}
      />
    </label>
  </div>
  {{#if @filteringEnabled}}
    <div class="chart-control-item">
      <label>
        <h2>Filter out scores less than:</h2>
        <Input
          class="input"
          @id="filter-score"
          @value={{@filterMinimumScore}}
          @type="number"
          disabled={{if @filteringEnabled false true}}
        />
      </label>
    </div>
  {{/if}}
</div>
