<div class="movie-list-item">
  <div class="movie-list-item-column">
    <h2>Poster</h2>
  </div>
  <div class="movie-list-item-column">
    <h2>Name</h2>
  </div>
  <div class="movie-list-item-column">
    <h2>Score</h2>
  </div>
  <div class="movie-list-item-column">
    <h2>Vote Count</h2>
    </div>
  <div class="movie-list-item-column">
    <h2>More Info</h2>
  </div>
</div>
