<div class="movie-list">
  <div class="movie-list-item">
    <div class="movie-list-item-column">Poster</div>
    <div class="movie-list-item-column">Name</div>
    <div class="movie-list-item-column">Score</div>
    <div class="movie-list-item-column">Vote Count</div>
    <div class="movie-list-item-column">More Info</div>
  </div>
  {{#each @movies as |movie|}}
    <MovieListItem @movie={{movie}} @size="w200"/>
  {{/each}}
</div>
